<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/css?family=Handlee|Lato" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">Events</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="nav1" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav2" href="/create">Create a new event</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by Type</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/">All Events</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/sort/Festival">Festival</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/sort/Museum">Museum</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/sort/Music">Music</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/sort/Sports">Sports</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/sort/Theater">Theater</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
        <div class="container-fluid">
            <div class="container">     
                {% for flash_message in app.session.flashbag.get('create')%}
                    <div class="alert alert-success">{{flash_message}} </div>
                {% endfor %}

                {% for flash_message in app.session.flashbag.get('update')%}
                    <div class="alert alert-info">{{flash_message}} </div>
                {% endfor %}

                {% for flash_message in app.session.flashbag.get('remove')%}
                    <div class="alert alert-danger">{{flash_message}} </div>
                {% endfor %}
            </div>
            {% block body %}
            {% endblock %}
        </div>
            <div class="footer">
                <p>Benjamin Schneider - CodeFactory 2019</p>
            </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>